<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>
    <header>
        {{#if logged_in}}
            <a href="/profile">Profile</a>
            <button id="logout">Logout</button>
        {{else}}
             <a href="/login">Login/signup</a>
        {{/if}}
    </header>
    <main>{{{body}}}</main>
    <script src="/js/logoutBtn.js"></script>
</body>
</html>